{% extends 'base.html' %}
{% block title %}Faculty Profile{% endblock %}
{% block content %}
<div class="bg-white p-6 rounded shadow max-w-4xl mx-auto">
    <div class="flex gap-6">
        <div class="w-1/3">
            <img src="{{ request.user.faculty.profile_pic.url }}" alt="profile" class="w-40 h-40 rounded-full object-cover mx-auto">
            <div class="text-center mt-3">{{ request.user.faculty.firstname }} {{ request.user.faculty.lastname }}</div>
        </div>
        <div class="w-2/3">
            <form method="POST" enctype="multipart/form-data" class="space-y-3">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button class="bg-indigo-600 text-white px-4 py-2 rounded">Update Information</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
