{% extends 'base.html' %}
{% block title %}Update Student{% endblock %}
{% block content %}
<div class="bg-white p-6 rounded shadow max-w-4xl mx-auto">
    <div class="flex gap-6">
        <div class="w-1/3">
            <img src="{{ student.profile_pic.url }}" alt="student" class="w-40 h-40 rounded-full object-cover mx-auto">
        </div>
        <div class="w-2/3">
            <form action="{% url 'update_student' %}" method="POST" enctype="multipart/form-data" class="space-y-3">
                {% csrf_token %}
                <input type="hidden" name="prev_reg_id" value="{{ prev_reg_id }}">
                {{ form.as_p }}
                <div>
                    <button class="bg-indigo-600 text-white px-4 py-2 rounded">Update Information</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
